<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Gestão de Vinhos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/listar" routerLinkActive="active">
          Listar 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/cadastrar" routerLinkActive="active">
          Cadastrar
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="body container">
  <app-notificacao></app-notificacao>
  <router-outlet></router-outlet>
</div>
